<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
    <script src="{{ url_for('static', filename='scripts/robot_data.js') }}" defer></script>
    <title>Microlab Fleet Management Home</title>
    <link rel="icon" href="{{ url_for('static', filename='images/microlab.png') }}">
</head>
<body>
    <div id="title-area">
        <div id="logo-div">
            <img style="display: flex; height: 100%" src="{{ url_for('static', filename='images/microlab.png') }}" alt="">
        </div>
        <div id="title-div">
            <h1 id="main-title">Microlab Fleet Management</h1>
        </div>
    </div>
    <div id="app-area">
        <div id="map-area">
            <canvas id="map-canvas"></canvas>
        </div>
        <div id="fleet-area">               
            <div class="robot-div">
                <img class="robot-image" src="{{ url_for('static', filename='images/ev3.png') }}" alt="">
                <h3 class="robot-text" >EV3 Robot</h3>
                <img id="status-image" src="{{ url_for('static', filename='images/offline.png') }}" alt="">
            </div>
            <h3 id="info-title">Robot Info:</h3>
            <div id="info-area">
                <h3 style="width:100%; text-align: center; font-family: Arial, Helvetica, sans-serif; color: red;">Robot data will be available here!</h3>
            </div>
            <button id="clear-path-b" type="button">Clear Past Route</button> 
        </div>
    </div>    
</body>
</html>
