body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: gold;
    display: flex;
    flex-direction: column;
}

#title-div {
    flex-grow: 1;
    text-align: center;
}

#main-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: -2px 0 orange, 0 2px orange, 2px 0 orange, 0 -2px orange;
}

#title-area {
    flex-basis:5%;
    display: flex;
    width: 100%;
    margin: 0px;
}

#map-canvas {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    /* transform: scaleY(-1); */
}
#app-area {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin: 0px;
}

#map-area {
    flex-grow: 1 !important;
    border:3px solid orange;
    border-right:0px;
}


#fleet-area {
    /* display: flex; */
    flex-basis: 30%;
    flex-grow: 0;
    border:3px solid orange;
    /* border-bottom: 0px; */
}

#list-area {
    /* display: flex; */
    width: 100%;
    height: 30%;
    margin: 0px;
    border:1px solid black;
    border-bottom: 0px;

}

.robot-div {
    display: flex;
    align-items: center;
    /* border:1px solid black; */
    width: 100%;
    height: 15%;
    margin: 0px;
}

.robot-image  {
    display: flex;
    height: 70%;
    width: 17.5%;
    float: left;
}

.robot-text {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    align-items: center;
    justify-content: center;    
    width: 52.5%;
    text-decoration: none;
    text-shadow: -0.5px 0 red, 0 0.5px red, 0.5px 0 red, 0 -0.5px red;
}

#status-image  {
    display: flex;
    height: 40%;
    width: 30%;
    float: right;
}

#info-area {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 74%;
    border: 1px solid black
}

#info-title {
    display:flex; 
    /* border: 1px solid black; */
    /* border-bottom: 0px; */
    /* border-top: 2px solid black; */
    font-family: Arial, Helvetica, sans-serif; 
    width: 100%; 
    height: 5%; 
    justify-content: center; 
    align-items: center; 
    margin: 0px;
}

#clear-path-b {
    /* margin: 0px; */
    display: flex;
    height: 6%;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder;
    border: none;
    border-radius: 12px;
    top: 50%;
}

#clear-path-b:hover {
    background-color:palegoldenrod;
}

#clear-path-b:active {
    background-color: goldenrod;
}
