<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
    <script src="{{ url_for('static', filename='scripts/robot_data.js') }}" defer></script>
    <title>Fleet Management</title>
</head>
<body>
    <div id="title-area">
        <div id="logo-div">
            <img style="display: flex; height: 100%" src="../static/images/microlab.png" alt="">
        </div>
        <div id="title-div">
            <h1 id="main-title">Microlab Fleet Management</h1>
        </div>
    </div>
    <div id="app-area">
        <div id="map-area">
            <canvas id="map-canvas"></canvas>
        </div>
        <div id="fleet-area">
            <div id="list-area">
               
                <div class="robot-div">
                    <img class="robot-image" src="../static/images/ev3.png" alt="">
                    <h3 class="robot-button" onclick="get_robot_data('r1')">Robot 1 (EV3)</h3>
                    <img class="status-image" src="../static/images/offline.png" alt="">
                </div>
           
                <div class="robot-div">
                    <img class="robot-image" src="../static/images/arduino.jpeg" alt="">
                    <a class="robot-button" href="/info/r2">Robot 2 (Arduino)</a>
                    <img class="status-image" src="../static/images/offline.png" alt="">
                </div>
            </div>
            <h3 id="info-title">Robot Info:</h3>
            <div id="info-area">
                <h3 style="width:100%; text-align: center; font-family: Arial, Helvetica, sans-serif; color: red;">Please select a Robot to display info</h3>
                <p id="robot-info">
                    Robot data will be available here!
                </p>
            </div>
        </div>
    </div>    
</body>
</html>
