<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        // api url
        const api_url =
                "localhost:5000/info/r1";
            
        // Defining async function
        async function getapi(url) {
            
            // Storing response
            const response = await fetch(url);
            
            // Storing data in form of JSON
            var data = await response.json();
            console.log(data);
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>